<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TWEAKNAME</title>

  <link rel="stylesheet" type="text/css" href="/repo/css/style.css" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
</head>

<body>
  <div class="panel">
    <div class="section-label">Info</div>
    <div class="fieldset">
      <div>
        <p>TWEAK INFO GOES HERE</p>
      </div>
      <a class="black-text" href="./screenshots.html">
        <img class="icon" src="/repo/assets/icons/screenshots.png" width="58" height="58">
        <div>
          <div>
            <p>Screenshots</p>
          </div>
        </div>
      </a>
    </div>
    <div class="section-label">Changelog</div>
    <div class="fieldset">
      <a class="black-text" href="./changelog.html">
        <img class="icon" src="/repo/assets/icons/changelog.png" width="58" height="58">
        <div>
          <div>
            <p>Changelog</p>
          </div>
        </div>
      </a>
    </div>
    <div class="section-label">Other</div>
    <div class="fieldset">
      <a class="black-text" href="/repo/help.html">
        <img class="icon" src="/repo/assets/icons/help.png" width="58" height="58">
        <div>
          <div>
            <p>Help</p>
          </div>
        </div>
      </a>
      <a class="black-text" href="/repo/donate.html">
        <img class="icon" src="/repo/assets/icons/donate.png" width="58" height="58">
        <div>
          <div>
            <p>Donate</p>
          </div>
        </div>
      </a>
      <a class="black-text" href="/contact.html">
        <img class="icon" src="/repo/assets/icons/contact.png" width="58" height="58">
        <div>
          <div>
            <p>Contact Me</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>

</html>
